# Ignore the entire virtual environment folder
resume/

# If you create new venvs in future
venv/
.venv/
env/
.env/

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment variables (DO NOT PUSH TO GITHUB)
.env
